<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/landing.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.toast').toast('show');
      });
    </script>
    <base href="/">
    <title>Solv Book</title>
  </head>
  <body>
    <% include navbar %>


    <% if(error && error.length>0) {%>
      <div class="toast" data-autohide="false">
        <div class="toast-header">
          <strong class="mr-auto text-danger">Warning!</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body">
          <%= error %>
        </div>
      </div>
    <% } %>

    <% if(success && success.length>0) {%>
      <div class="toast" data-autohide="false">
        <div class="toast-header">
          <strong class="mr-auto text-success">Success!</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body">
          <%= success %>
        </div>
      </div>
    <% } %>