<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">SolvBook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/books">Books Review</a>
      </li>
    </ul>
    <div class="my-2 my-lg-0">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/books">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/books">Sign Out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/books">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>