<% include ../partials/header %>
  <div class="book-form">
    <h1 class="title-primary">Add New Review</h1>
    <form action="/books/<%=data._id%>/review" method="POST">
      <div class="form-group row">
        <label for="authorName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input required type="text" name="review[author]" class="form-control" id="authorName" placeholder="Input your name">
        </div>
      </div>
      <div class="form-group row">
        <label for="bookReview" class="col-sm-2 col-form-label">Review</label>
        <div class="col-sm-10">
          <textarea required rows="3" name="review[review]" class="form-control" id="bookReview"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="rating" class="col-sm-2 col-form-label">Rate 1 - 5 <i class="fa fa-star yellow"></i></label>
        <div class="col-sm-10">
          <input required type="number" name="review[rating]" class="form-control" id="rating" placeholder="1 - 5 Stars" min=0 max=5>
        </div>
      </div>
      <div class="form-group right">
        <a href="/books/:id" class="btn btn-outline-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>  
  </div>
<% include ../partials/footer %>