*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.book-form {
  margin: 0 auto;
  width: 50%;
}

.card {
  text-align: center;
}

.card img {
  height: 10rem;
  width: auto;
}

.jumbotron {
  border-radius: 0;
}

.title-primary {
  margin: 2rem 0;
}

.right {
  float: right;
}

.image_show {
  height: 30rem;
  margin: 1rem;
}
.media {
  margin: 1rem;
}

.media-body {
  margin: 1rem;
}

.media-header {
  margin-bottom: 2rem;
}

.yellow {
  color: goldenrod;
}
